In [2]:
import pandas as pd
import numpy as np
df= pd.read_csv('TW8_IDE1(1).csv')
df.head()

  Annual_Return Annual_Risk  Corr Sharpe_Ratio Investment
0            No          No  Yes            No          No
1           Yes         Yes  Yes           Yes         Yes
2            No         Yes    No           No          No
3            No          No    No           No          No
4            No         Yes    No           No          No

In [3]:
# Preprocessing Input data
X = df.iloc[:,0:4]
y = df.iloc[:,-1]

In [4]:
X.head()

  Annual_Return Annual_Risk  Corr Sharpe_Ratio
0            No          No  Yes            No
1           Yes         Yes  Yes           Yes
2            No         Yes    No           No
3            No          No    No           No
4            No         Yes    No           No

In [5]:
y.head()

0     No
1    Yes
2     No
3     No
4     No
Name: Investment , dtype: object

In [6]:
#Convert lables to numbers by using sklearn preprocessing import called LabelEncoder
from sklearn. preprocessing import LabelEncoder

In [7]:
# Create a LabelEncoder for each column that has categorical data
le_Annual_Return = LabelEncoder()
le_Annual_Risk = LabelEncoder()
le_Corr = LabelEncoder()
le_Sharpe_Ratio = LabelEncoder()

In [8]:
X['Annual_Return_n'] = le_Annual_Return.fit_transform(X['Annual_Return']) # create a new column in your data
X['Annual_Risk_n'] = le_Annual_Risk.fit_transform(X['Annual_Risk']) # create a new column in your dataframe
X['Corr_n'] = le_Corr.fit_transform(X['Corr']) # create a new column in your dataframe
X['Sharpe_Ratio_n'] = le_Sharpe_Ratio.fit_transform(X['Sharpe_Ratio']) # create a new column in your datafra

In [9]:
X.head()

,Annual_Return,Annual_Risk,Corr,Sharpe_Ratio,Annual_Return_n,Annual_Risk_n,Corr_n,Sharpe_Ratio_n
0,No,No,Yes,No,0,0,1,0
1,Yes,Yes,Yes,Yes,1,1,1,1
2,No,Yes,No,No,0,1,0,0
3,No,No,No,No,0,0,0,0
4,No,Yes,No,No,0,1,0,0

In [10]:
X_n = X.drop(['Annual_Return','Annual_Risk','Corr','Sharpe_Ratio'], axis= 'columns')
X_n.head()

   Annual_Return_n  Annual_Risk_n  Corr_n  Sharpe_Ratio_n
0                0              0       1               0
1                1              1       1               1
2                0              1       0               0
3                0              0       0               0
4                0              1       0               0

In [11]:
# Next stage is to import the Decision Tree model for classification.
from sklearn import tree

In [12]:
model = tree.DecisionTreeClassifier()

In [13]:
# Train your model and fit data X to y.
model.fit(X_n,y)

DecisionTreeClassifier()

In [14]:
model.score(X_n,y)

1.0

In [15]:
model.predict([[1,1,1,1]])

array(['Yes'], dtype=object)